- if current_user
  %h1 Activity feed
  - if @messages.blank?
    There's no messages from users you're currently following
  - else
    %table
      %thead
        %tr
          %th User name
          %th Message
          %th Created
      - @messages.each do |message|
        %tbody
          %tr
            %td= link_to(message.user.name, user_path(message.user))
            %td= link_to(message.body, message_path(message))
            %td= l(message.created_at)
  %br
  %br
  = link_to t("Publish new message"), new_message_path
  %br
  = link_to t("See all the messages in the platform"), messages_path
  %br
  = link_to t("See all the users in the platform"), users_path
  
- else
  %p This is the public homepage
